@import url(//fonts.googleapis.com/css?family=Nunito);

.first-color {
  background: #f4f4f4;
}

.second-color {
  background: #4687ff;
}

.third-color {
  background: #ebcbae;
}

.fourth-color {
  background: #8f8787;
}
* {
  padding: 0;
  margin: 0;
}
body {
  width: 250px;

  margin: 1em;
  font-family: "Nunito", sans-serif;
  font-weight: 100;
}

body > * {
  margin: 0.5em;
}
.icon-32 {
  width: 32px;
  height: 32px;
}
.icon-16 {
  width: 16px;
  height: 16px;
}

header {
  /*
  background: rgb(206, 166, 251);
  background: linear-gradient(
    90deg,
    rgba(206, 166, 251, 1) 0%,
    rgba(121, 0, 255, 0.7721463585434174) 75%
  ); */

  margin: -1em;
  padding: 1em;

  display: flex;
  align-items: space-evenly;
  justify-content: flex-start;
  gap: 10px;

  flex-flow: row nowrap;
  margin-bottom: 2em;
}

.card {
  background-color: white;
  padding: 0.75em;
  border-bottom: 2px inset rgb(0, 0, 69);
}

.domain-card {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
  border-bottom: 2px inset rgb(0, 69, 24);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-flow: row nowrap;
}

.info {
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  font-size: 2.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}
